<div class="modal-header">
  <h4 class="modal-title">Hello, {{name}}. Create an observation!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="quantity">Value</label>
            <input type="text" class="form-control" formControlName="quantity" />
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="code">Code</label>
            <select class="form-control" formControlName="code">
              <option value='-1'>Select code...</option>
              <option *ngFor="let code of codes" [ngValue]="code">{{code.display}}</option>
            </select>
          </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
              <label for="unit">unit</label>
              <select class="form-control" formControlName="unit">
                <option value='-1'>Select unit...</option>
                <option *ngFor="let unit of units" [ngValue]="unit">{{unit.unit}}</option>
              </select>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('close')">Close</button>
    <button class="btn btn-success" [disabled]="!myForm.valid">Create</button>
  </div>
</form>