<div class="modal-header">
  <h4 class="modal-title">Hello, {{name}}. Create an observation!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
    <div class="container">
      <div class="form-group">
        <label for="quantity">Value</label>
        <input type="text" class="form-control" formControlName="quantity" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('close')">Close</button>
    <button class="btn btn-success" [disabled]="!myForm.valid">Create</button>
  </div>
</form>